
.progress-table {
 	font-fadmily:$didact;
 	font-size: 16px;

	border-spacing: 4px;
	border-collapse: separate;
	
	th {
		font-size:12px;
		line-height:20px;
	}
	tr>th:first-of-type, tr>td:first-of-type {
		padding-left:0;
	}
	tr>th:last-of-type, tr>td:last-of-type {
		padding-right:0;
	}
	
	thead th:last-of-type, tr>td:last-of-type {
		text-transform:uppercase;
		text-align:right;
	}
}

.progress-table{
	border-spacing:0;
	border-collapse:collapse;
	tbody>tr>td {
		vertical-align:middle;
		padding-left:0;
		padding-right:0;
		width:44px;
		&:first-of-type {
			padding-right:8px;
			width:auto;
		}

		&:last-of-type {
			padding-left:8px;
			width:auto;
		}
	}

	&>thead>tr>th {
		border:none;
		text-align:center;
		font-weight:bold;
		font-family: $poppins;
	}

	tr > td:first-of-type {
		min-width:200px;
	}
	
	td .indicator{
		width:35px;
		height:40px;

		display:block;
		background-color: $color-offwhite;
		margin:2px auto;
		&:after {
			line-height:40px;
			font-family: 'Glyphicons Halflings';
			display:block;
			color:white;
			text-align:center;
		}
		&.correct{
			background-color: $color-correct;
			&:after {
			content: "";
			}
		
		}
		&.incorrect{
			background-color: $color-incorrect;
			&:after {
			content: "";
			}
		}
		&.incomplete{
			background-color: $color-incomplete;
			&:after {
			content: "−";
			}
		}
	}
}


.mobile-cards .progress-table {
	width:auto;
	margin:0px 0 20px;;
	border:none;
	border-spacing:0;
	th {
		text-align:center;
		font-weight:bold;
		font-family:$poppins;
		width:10%;
	&:last-of-type{
		text-align: center;
	}
	}
	tr > td:first-of-type {
		min-width:0px;
	}
	td {
		border-right:4px solid white;
		width:10%;
		&:last-of-type {
			border-right:none;
		}
	}
}

.dashboard-controls {
	
	.btn {
		margin-right: 20px;
	}
}
@media (max-width:  $screen-xs-max) {
.dashboard-controls {
	margin-top:10px;
	.btn {
		display:block;
	}
}
	.navigation-group {
		.group-title {
			margin: 10px 0;
			padding:10px;
			display:block;
			a {
				display:block;
				font-size:14px;
			}
		}

		.navigation-content {
			padding-left:25px;
			padding-bottom:20px;

		h3 {
			border-top:1px solid $border-color;
			padding: 20px 0 0px;
			font-size:14px;
			text-transform:none;
		}

		time {
			display:block;
			padding: 10px 0 20px; 
		}
	}
	}


}