$color-white: #fff;
$color-offwhite: #ebebeb;
$color-white-alt: #dcdcdc;
$color-greyish: #b4b4b4;
$color-warm-grey: #949494;
$color-brownish-grey: #686868;
$color-greyish-brown: #595959;
$color-greyish-brown2: #494949;
$color-greyish-brown3: #444444;
$color-black: #000;

$color-grapefruit: #ff5252;
$color-vivid-blue: #33558a;
$color-blue: #305194;
$color-electric-blue: #2452fd;
$color-correct: #65d62b;
$color-incorrect: #ed4749;
$color-incomplete: #626262;