@import 'variables';
@import 'utilities';
@import 'fonts';
@import 'questions';
@import 'definitions';
@import 'navigation';

body {
  background-color: $color-white;
  font-family: "didact_gothicregular", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
	font-family: "poppinsbold";
	margin:0;
}



h4 {
	border-top: 1px solid $border-color;
	border-bottom: 1px solid $border-color;
	font-family:"poppinsbold";
	font-size:12px;
	line-height: 0.83;
	letter-spacing: 0.2px;
	text-transform:uppercase;
	padding: 18px 0;


}
a {
	color: $link-color;
	text-decoration:none;
	&:active, &:focus {
		color: $primary-hover;
		text-decoration:none;

	}
	&:hover {
		text-decoration:none;
	color: $primary-active;

	}

}
header {
	background:$color-black;;
	color:$color-white;

	&#primaryheader {
		padding-bottom:30px;
		nav.navbar {
			margin-bottom:0px;
		}
		.topWrap {
			border-bottom:1px solid $color-greyish-brown2;
		}

		.row {
		padding-bottom:30px;
		}
		
	}


	&#subheader {
	
		.container {
			position:relative;
			min-height:128px;
		}
		.breadcrumb {
			background:transparent;
			padding:0;
			margin:0;
			font-size:22px;
			letter-spacing: 0.8px;
			a {color:white;
				font-weight:light;
				text-decoration:underline;}
			.active{
				font-weight:normal;
				font-family: "poppinsbold", sans-serif;
				color:white;
			
			}
			& > li + li::before {
				font-family: "didact_gothicregular", sans-serif;
			}
		}
		.progress {
			margin-bottom:0px;
			border-radius: 0px;	
			margin-right:15px;
			margin-left:15px;
		}
		.meta {
			font-size:15px;
			line-height:14px;
			text-align:right;
			margin-bottom:15px;
		}
		.collapse-link {
			text-decoration:underline;
			cursor:pointer;
		}
		p {
			line-height:24px;
			font-size:16px;
			margin-bottom:30px;

		}
	}
}

.navbar.navbar-default {
	background:transparent;
	border:none;
	.navbar-brand {
		color:$color-white;
	}
	a.dropdown-toggle {
		color:$color-white;
		&:hover, &:focus {
			color:white;
		}
	}
	.dropdown.open {
		a.dropdown-toggle {
			background:none;
		}
	}


	.dropdown-menu {
		background:$color-blue;
		text-align:right;
		padding:0;
		a {
			color:$color-white;
			line-height:14px;
			font-size:16px;
			padding:15px 25px 15px 20px;

			&:hover, &.active,  &:focus, &:active {
				background-color: $color-vivid-blue;
			}
		}
	}
}

.faqQuestion {
	padding-bottom:12px;;
	.collapse-link {
		font-size: 16px;
		pading-bottom:18px;
		

	}
		p {
			font-size: 18px;
		}

}
#mainContent {
	padding-top:30px;
	 padding-bottom:30px;
	.collapse-link {
		color: $link-color;;
		font-family:$poppins;

		cursor:pointer;
		&:hover {
			color: $primary-hover;;
		}
		&:active, &:focus {
			color: $primary-active;
		}
	}

	.sidebar {
		right:15px;
		top:30px;;
		max-width:263px;
	}
}
.progress {
	background-image: linear-gradient(-65deg, #616161 25%, transparent 25%, transparent 50%, #616161 50%, #616161 75%, transparent 75%, transparent);
	background-size:10px 20px;
	background-color:$color-greyish-brown;
	position:absolute;
	left:0;
	right:0;;
	bottom:0;
	.progress-bar {
		background:$color-blue;
	}
}

.btn-primary {
	background: $color-blue;
	border-radius: 0px;
	display:block;
	width:136px;
	margin-bottom:10px;
	&:hover, &.active, &:focus, &:active {
		background-color: $color-blue;
	}
}

.progressTable{
	td.indicator{
		width:35px;
		background-color: $color-offwhite;
		&.correct{
			background-color: $color-correct;
			&:after {
			content: "";
			font-family: 'Glyphicons Halflings';
			display:block;
			color:white;
			text-align:center;
			}
		
		}
		&.incorrect{
			background-color: $color-incorrect;
			&:after {
			content: "";
			font-family: 'Glyphicons Halflings';
			display:block;
			color:white;
			text-align:center;
			}
		}
		&.incomplete{
			background-color: $color-incomplete;
			&:after {
			content: "−";
			font-family: 'Glyphicons Halflings';
			display:block;
			color:white;
			text-align:center;
			}
		}
	}
}

hr {
	border-color: #dcdcdc;
	margin:50px 0;
}


/* Button overrides */
.btn {
	text-transform:uppercase;
	font-weight:normal;
	font-size:12px;
	line-height:1.0;
	letter-spacing: 0.9px;
	padding: 13px 25px 11px 25px;
	font-family: "poppinsbold", sans-serif;
}
input, textarea, .form-control {
	border-radius: 0;
	background-color:#fbfbfb;
	border-color: #dcdcdc;
}

form label {
	margin-bottom:13px;

}
.form-group {
	margin-bottom:40px;
}
.btn-default {
	background:$color-black;
	border:none;
	color:white;
	&:hover {
		background:$color-black;
		color:white; 
	}
}

.jumpmenu {
	margin-bottom:68px;
}

// Should include the bootstrap vars for this.
@media (max-width: 768px) {
	.nav.navbar-nav {
		text-align:center;
		& > li > a {
			color:white;
			font-size:20px;
		font-family: "poppinsbold";
		font-weight: normal;
		padding-top:20px;
		padding-bottom:20px;
		}
	}
}


dl.inline-list {
	dt, dd {
		float: left;
		margin-bottom:12px;
	}

	dd {
		margin-left: 10px;
	}
	dt {
		clear:both;
	}
	&:after{
		clear:both;
		display:block;
		content: "";
	}
	padding-bottom:40px;
	border-bottom:1px solid $border-color;
}

.navbar-default{
	.navbar-collapse {
		border-color: $color-greyish-brown2; 
	}
.navbar-toggle {
	border:none;
	background-image:url(../images/menu-close.png);
	height:32px;
	// display:block;
	width:42px;
	background-position:center;
	background-repeat:no-repeat;
	&:hover, &:focus, &:active {
		background-color:transparent;
		border:none;
	}
	&.collapsed {
		background-image:url(../images/menu.png);
		&:hover, &:focus, &:active {
			background-color:transparent;
			border:none;
		}
	}
}
}
.acronymTable {
	font-size:18px;
	font-family: 'didact_gothicregular';
	line-height:25px;
	.col-sm-3 {
		font-weight:normal;
		font-family: 'poppinsbold';
		text-transform:uppercase;
		font-size:16px;
	}
}
.row-striped>div:nth-of-type(odd){
  background-color: $color-white;
  padding:5px 15px;;
}

.row-striped>div:nth-of-type(even){
  background-color: $color-offwhite;
  padding:5px 15px;
}


.actionItem {
	padding: 30px 0;
	border-top: 1px solid $border-color;
	font-size:16px;
	p {
		font-size: 18px;
	  font-family: $didact;
		margin:0;
	}

	dt {
		font-family: $poppins;
		font-size: 14px;
		padding-bottom:10px;
		padding-top: 30px;
	}

	dd {
	font-family:$didact;
	}
}

.progressTable {
 	font-fadmily:$didact;
 	font-size: 16px;

	border-spacing: 4px;
	border-collapse: separate;
	
	th {
		font-size:12px;
		line-height:20px;
	}
	tr>th:first-of-type, tr>td:first-of-type {
		padding-left:0;
	}
	tr>th:last-of-type, tr>td:last-of-type {
		padding-right:0;
	}
	
	thead th:last-of-type, tr>td:last-of-type {
		text-transform:uppercase;
		text-align:right;
	}
}
